#top-header {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4fcf5+0,bff9e9+50,9fefd7+51,2bedb9+100 */
  background: #e4fcf5; /* Old browsers */
  background: -moz-linear-gradient(top, #e4fcf5 0%, #bff9e9 50%, #9fefd7 51%, #2bedb9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e4fcf5 0%,#bff9e9 50%,#9fefd7 51%,#2bedb9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e4fcf5 0%,#bff9e9 50%,#9fefd7 51%,#2bedb9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4fcf5', endColorstr='#2bedb9',GradientType=0 ); /* IE6-9 */
  
  height: 10em;
}
body {
  background-color: gray;
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
  
#top-header-container {
  position: relative;
  top: 2.5em;
  font-size: 2em;
}
#navbar1 {
  background-color: teal;
  overflow: hidden;
}
#navbar1-container {
  position: relative;
  float: left;
  width: 100%;
}

#navbar1 ul {
  position: relative;
  float: left;
  left: 50%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#navbar1 ul li {
  display: block;
  position: relative;
  float: left;
  right: 50%;
}
#navbar1 ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: #00FFFF
}
#navbar1 ul li a:hover {
  background-color: #000;
  
}
#navbar1 #underline {
  text-decoration: underline;
}